body {
    background-color: hsl(0, 0%, 81%);
}
.testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    padding: 150px;
}

.testimonial-1, 
.testimonial-2,
.testimonial-3,
.testimonial-4,
.testimonial-5 {
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 2px hsl(220, 6%, 38%);
}
.testimonial-1 {    
    background-color: hsl(263, 55%, 52%);
    grid-column: span 2;
  
}

.testimonial-2 {    
    background-color: hsl(217, 19%, 35%);
    
}

.testimonial-3 {    
    background-color: hsl(0, 0%, 100%);
    grid-row: span 2;
   
}

.testimonial-4 {
    background-color: hsl(0, 0%, 100%);
   
}

.testimonial-5 {    
    background-color: hsl(219, 29%, 14%);
    grid-column: span 2;
}

img {
    border-radius: 50%;
    max-width: 30px;
    border: 2px solid white;
}

h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: hsl(0, 0%, 81%);
}

span {
    opacity: 50%;
    display: block;
}

h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    
}

h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: hsl(0, 0%, 81%);
    opacity: 70%;
}


